CompileFlags:
  CompilationDatabase: "build"
  Add: ["-Wall", "-Wextra", "-Wno-unused-parameter"]

Index:
  Background: Build

Diagnostics:
  ClangTidy:
    Add:
      - bugprone-*
      - performance-*
      - readability-*
      - modernize-*
    Remove:
      - modernize-use-trailing-return-type
      - readability-uppercase-literal-suffix
      - readability-function-cognitive-complexity
      - readability-magic-numbers

---
If:
  PathMatch: ".*\\.c$"
CompileFlags:
  Add: ["-std=c11"]
